# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
venv/
ENV/

# SQLite DB
*.sqlite3
*.db

# Flask cache / session files
instance/
*.pid

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

node_modules/