<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Task Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('task.index') }}">Task Manager</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main_content %}{% endblock %}
        </main>
    </body>
</html>