{% extends "base.html" %}

{% block main_content %}
    {% if current_user.is_authenticated %}
        <div class="container mx-auto text-center m-10">
            <h1 class="text-center text-2xl">Hello, {{ current_user.name }}!</h1>
            <p class="m-5">Create and view tasks below!</p>
            <a href="{{ url_for('task.task_management') }}" class="p-3 bg-primary text-background rounded-full hover:bg-primary-dark transition">Your Tasks</a>
        </div>
    {% else %}
        <div class="container mx-auto text-center my-10">
            <p class="m-5">Please log in if you want to create tasks</p>
            <a href="{{ url_for('auth.login') }}" class="m-3 p-3 bg-primary text-background rounded-full hover:bg-primary-dark transition">Login</a>
            <a href="{{ url_for('auth.register') }}" class="m-3 p-3 text-primary rounded-full border border-transparent hover:border hover:border-primary transition">Register</a>
        </div>
    {% endif %}
{% endblock %}