{% extends "base.html" %}

{% block main_content %}
    <h2>Create a Task</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }}
        {{ form.title() }}
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        <br />
        {{ form.description.label }}
        {{ form.description() }}
        <br />
        {{ form.due_date.label }}
        {{ form.due_date() }}
        <br />
        {{ form.priority.label }}
        {{ form.priority() }}
        <br />
        {{ form.status.label }}
        {{ form.status() }}
        <br />
        {{ form.submit() }}
    </form>

    <h2>Your Tasks</h2>
    <section>
        {% for task in tasks %}
        <div>
            <h3>{{ task.title }}</h3>
            <p>{{ task.due_date }}</p>
            <p>{{ task.priority_label }}</p>
            <p>{{ task.status_label }}</p>
        </div>
        {% endfor %}
    </section>

{% endblock %}